body{
    color:#fff;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;
}

.satelite {
    height: 35px;
    width: 35px;
    background: url('/img/satelite.png') no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 14px;
  }
  .satelite:hover::before {
    content: "Un objeto que gira alrededor de otro objeto.";
    font-size: 12px;
    font-style: italic;
    position: absolute; 
    right: -230px; 
    top: 50%; 
    transform: translateY(-50%);
  }
  
  .satelite .ver-mas {
    display: none; 
  }

  .satelite:hover .ver-mas {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #c4c4c4;
    position: absolute; 
    right: -40px; 
    top: calc(50% + 9px); 
    cursor: pointer;
  }
  

.luna {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    background: url(../img/mapaluna.png);
    background-size: cover;
    color: white;
    font-size: 14px;
  }
  .luna:hover::before {
    content: "Astro, satélite natural de la Tierra, que gira alrededor de ella y refleja la luz del Sol";
    font-size: 12px;
    font-style: italic;
    position: absolute; 
    text-align: center;
    right: 70px; 
    top: 45%; 
    transform: translateY(-50%);
  }
  
  .luna .ver-mas {
    display: none; 
  }

  .luna:hover .ver-mas {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #c4c4c4;
    position: absolute; 
    right: -40px; 
    top: calc(50% + 15px); 
    cursor: pointer;
  }
.tierra {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: -27px -27px 0 -7px rgba(0, 0, 0, .15) inset,
                -10px -10px 0 0 rgba(0, 0, 0, .1) inset,
                0px 0px 0 0 rgba(255, 255, 255, .2) inset;
    background: url(../img/mapa.png);
    background-size: cover;
    animation: tierra-girando 5s infinite linear; 
    background-size: cover;
    color: white;
    font-size: 14px;
  }
  .tierra:hover::before {
    content: "Cuerpo celeste que gira alrededor de una estrella y no emite luz propia";
    font-size: 12px;
    font-style: italic;
    position: absolute; 
    right: -370px; 
    top: 50%; 
    transform: translateY(-50%);
  }
  
  .tierra .ver-mas {
    display: none; 
  }

  .tierra:hover .ver-mas {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #c4c4c4;
    position: absolute; 
    right: -45px; 
    top: calc(50% + 9px); 
    cursor: pointer;
  }

@keyframes tierra-girando {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: -398px center;
    }
}
.tierra:hover {
    animation-play-state: paused;
}
@keyframes moverCometa {
    0% {
        top: 0;
        left: -90px;
    }
    100% {
        top: 90%;
        left: 90%;

    }
}

.cometa {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -40px;
    background: url('/img/cometa.png') no-repeat center center;
    background-size: cover;
    animation: moverCometa 10s infinite linear;
    color: white;
    font-size: 14px;}

    .cometa:hover::before {
        content: "Objetos en el espacio que varían en tamaño desde granos de polvo hasta pequeños asteroides.";
        font-size: 12px;
        font-style: italic;
        position: absolute; 
        text-align: center;
        right: 70px; 
        top: 45%; 
        transform: translateY(-50%);
      }
      
      .cometa .ver-mas {
        display: none; 
      }
    
      .cometa:hover .ver-mas {
        display: inline;
        font-size: 12px;
        font-weight: bold;
        position: absolute; 
        right: -40px; 
        top: calc(50% + 15px); 
        cursor: pointer;
      }
.cometa:hover {
    animation-play-state: paused;
}

.estrella {
	width: 3px;
	height: 3px;
	background: rgba(230, 230, 230, 0.4);
	border-radius: 50%;
	position: absolute;
}

.estrella.impar {
	-webkit-animation: estrella-impar 2s infinite;
}

.estrella.par {
	-webkit-animation: estrella-par 2s infinite;
}

.primera {
	left: 20%;
	top: 20%;
}

.segunda {
	left: 40%;
	top: 30%;
}
.tercera {
	left: 70%;
	top: 40%;
}
.cuarta {
	left: 90%;
	top: 10%;
}
.quinta {
	left: 10%;
	top: 60%;
}
.sexta {
	left: 80%;
	top: 70%;
}
.septima {
	left: 50%;
	top: 80%;
}
.octava1 {
    width: 8px;
	height: 8px;
	left: 20%;
	top: 80%;
    background: rgba(217, 255, 0, 0.767);
    -webkit-animation: estrella-par 2s infinite;
    color: white;
    font-size: 14px;
  }
  .w{
    width: 20px;
    height: 20px;
  }
  .octava1:hover::before {
    content: "Motores de energía cósmica que producen rayos ultravioleta, rayos X y otras formas de radiación.";
    font-size: 12px;
    font-style: italic;
    position: absolute; 
    right: 30px; 
    top: 5%; 
    transform: translateY(-50%);
  }
  
  .octava1 .ver-mas {
    display: none; /* Ocultar inicialmente */
  }

  .octava1:hover .ver-mas {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #c4c4c4;
    position: absolute; 
    right: -40px; 
    top: calc(50% + 9px); 
    cursor: pointer;
  }

.octava1:hover{
    animation-play-state: paused;
}

@-webkit-keyframes estrella-impar {
	0%, 80% {
		box-shadow: none;
	}

	100% {
		box-shadow: 0 0 10px 10px rgba(255,255,255,.3);
	}
}

@-webkit-keyframes estrella-par {
	0%, 40%, 80%{
		box-shadow: none;
	}

	60% {
		box-shadow: 0 0 10px 10px rgba(255,255,255,.3);
	}
}
.sol {
    width: 100%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: rgb(207, 207, 212);
    box-shadow: 0 0 60px gold, 0 0 100px #b9a018, inset 0 5px 35px 53px #dbdbdb, inset 48px 8px 34px 25px #c4c4c4;
    left: 100px;
    top: 100px;
    position: absolute;
    animation: sunFreakOut 3s infinite linear forwards;
    color: white;
    font-size: 14px;
  }
  .sol:hover::before {
    content: "Un evento celestial que cambia drásticamente la apariencia de los dos objetos más grandes que vemos en nuestro cielo. Cuando la Tierra, la Luna y el Sol se alinean.";
    font-size: 12px;
    font-style: italic;
    position: absolute; 
    right: -220px; 
    top: 45%; 
    transform: translateY(-50%);
  }
  
  .sol .ver-mas {
    display: none; /* Ocultar inicialmente */
  }

  .sol:hover .ver-mas {
    display: inline; /* Mostrar al hacer hover en la luna */
    font-size: 12px;
    font-weight: bold;
    color: #c4c4c4;
    position: absolute; 
    right: -40px; 
    top: calc(50% + 15px); 
    cursor: pointer;
  }
@keyframes sunFreakOut {
    0%, 100% {
      box-shadow: 0 0 60px rgb(255, 153, 0), 0 0 100px #b9a018, inset 0 5px 35px 53px #ffffffa9, inset 48px 8px 34px 25px #c4c4c4;
    }
    50%, 70% {
      box-shadow: 0 0 50px gold, 0 0 0px gold, inset 0 5px 35px 53px #dab51365, inset 48px 8px 34px 25px #c4c4c4;
    }
}